.techo-header {
    display: block;
    padding: 15px 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #0275d8;
}

h1.techo-header {
    margin-top: 0;
    margin-bottom: 30px;
}

.marginT20 {
    margin-top: 20px;
}

.my-car {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}
